<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>艺博</title>
    <link href="{$Think.const.CSS_URL}index.css" rel="stylesheet" type="text/css">
    <style>
        body{
            background-color: #fff!important;
        }
    </style>
</head>
<body>
<include file="Public/head" />

<form class="form-horizontal" style="margin-top: 50px;">
    <input type="text" class="form-control" id="inputEmail3" placeholder="账号" name="login">
    <input type="password" class="form-control" id="inputPassword3" placeholder="密码" name="password">
    <input type="password" class="form-control" id="inputPassword4" placeholder="确认密码">
    <input type="hidden" class="form-control" id="level" value="2">
    <input type="text" class="form-control" id="name" placeholder="姓名">
    <a class="btn btn-info" id="btn_login">提　　　　　交</a>
</form>



</body>
<script>
    $(function(){
        $('#btn_login').click(function(){login()});
        $(document).keypress(function(e) {
            if(e.which == 13) {
                login();
            }
        });
    });

    function login() {

        var u = $('#inputEmail3').val();
        var p = $('#inputPassword3').val();
        var l = $('#level').val();
        var p1 = $('#inputPassword4').val();
        var n = $('#name').val();


        if (u == "") {
            layer.msg('请输入账号', function () {
            });
            return false;
        }
        if (p == "") {
            layer.msg('请输入密码', function () {
            });
            return false;
        }
        if (p1 == "") {
            layer.msg('确认密码为空', function () {
            });
            return false;
        }
        if(p1!=p){
            layer.msg('两次密码不相等', function () {
            });
            return false;
        }
        if (n == "") {
            layer.msg('请输入姓名', function () {
            });
            return false;
        }
        $.ajax({
            url: '__CONTROLLER__/add',
            type: "post",
            data:{
                'password1':p1,
                'level':l,
                'login':u,
                'password':p,
                'name':n
            },
            dataType:'json',
            error:function(){

                layer.msg('网络连接失败，请刷新页面重试',function(){})

            },
            success:function(data){

                if(data.error==0){
                    window.parent.location.reload();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    location.href=data.url;
                }else{
                    layer.msg(data.msg)
                }
            }
        });
    }
</script>
</html>